html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  color: #000;
}

*:focus{
  outline: 1px dashed blue;
  outline-offset: 3px;
}

.container{
  width: 100%;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


/* SITE-HEADER */

.site-header {
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: #fff;
}

.site-header-child{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-logo-link {
  display: flex;
}

.site-hero-logo-img {
  width: 35px;
  height: 42px;
}

.sitenav {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}

.site-header-list {
  display: flex;
  padding: 0;
  margin-right: 40px;
  list-style-type: none;
}

.site-header-item-link{
  text-decoration: none;
  color: #333;
}

.site-header-item:not(:last-child){
  margin-right: 30px;
}

.sitenav-header-link {
  text-decoration: none;
  color: #666666;
  border-bottom: 1px solid #333;
}


  /* SITE-MAIN */

.site-main {
  flex-grow: 1;
}

.site-hero {
  display:block;
  background-image: url(../images/intro-bg.png);
  background-size: 587 565;
  background-repeat: no-repeat;
  background-position: 735px center;
  border-bottom: 2px solid #ddd;
  margin-right: -293px;
}

.site-hero-buy{
  width: 490px;
  padding-top: 90px;
  padding-bottom: 185px;
}

.site-hero-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
}

.hero-heading{
  color: #000;
}

.site-hero-content{
  border-left: 3px solid #888;
}

.site-hero-text {
  padding-left: 40px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.hero-text{
  color: #777777;
}

.site-hero-link {
  display: inline-block;
  width: 260px;
  color: #fff;
  padding: 12px 38px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  background-color: #EA625C;
  text-decoration: none;
  text-align: center;
}

.hero-bottom{
  padding-top: 70px;
  padding-bottom: 70px;
}

.site-hero-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-hero-but{
  width: 490px;
}

.site-content-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-between;
}

.site-content-item {
  width: 280px;
}

.site-content-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}

.site-content-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.site-retangle{
  display: flex;
  align-items: center;
}

.retangle{
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ddd;
}

.retangle:not(:last-child){
  margin-right: 10px;
}

.retangle-bottom{
  width: 40px;
  height: 3px;
  margin-right: 10px;
  background-color: #EA625C;
}

.retangle-text{
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #EA625C;
}

/* SITE-FOOTER */
.site-footer {
  background-image: url(../images/runners.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  color: #fff;
}

.site-footer-block {
  padding-top: 240px;
  padding-bottom: 240px;
}

.site-footer-but {
  width: 490px;
  margin-left: auto;
}

.site-footer-heading {
}
.site-footer-content {
  border-left: 3px solid #fff;

}
.site-footer-text {
}
.site-footer-link {
}
